#banner {
    height: 10px;
}

body {
    background-color: #4F0112;
    color: aliceblue;
}

#imaginate {
    width: 100%;
}

.card-body {
    color: aliceblue;
}

#navbarNav {
    justify-content: end;
}

.img-logo {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.nav-link:hover {
    border-bottom: 1px solid #fff;
    background: #000;
}


.butones button {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
}

#fotoescuela {
    width: 75px;
    height: 60px;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.Historia {
    display: none;
}

.show-more-history {
    display: flex;
}

.card .card-body .card-text,
.card .card-body .card-title {
    color: whitesmoke;
}

.card__link {
    text-decoration: none;
}
/* Estilos para el botón flotante */
.scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
}

.scrollToTopBtn:hover {
    background-color: #0056b3;
}

.scrollToTopBtn.show {
    opacity: 1;
}
